.Menu-list{
    padding-top: 50px;
    padding-bottom: 50px;

}
.Menu-swiper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu-list-header button{
    font-size: 25px;
    color: #E5CFB2;
    font-family: "Source Sans 3", sans-serif; 
    border: 1px solid #E5CFB2;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.Menu-list-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.Menu-list-header .active {
    background-color: #D0B08B;
    color: #1A0A0A;
}
.Menu-swiper{
    margin-top: 50px;
}
.Menu-swiper-card img{
    width: 550px;
    height: 550px;
    border: 3px solid #D0B08B;
    object-fit: cover;
}
.Menu-swiper-card-grid h2{
    font-family: "Source Sans 3", sans-serif; 
    font-size: 35px;
    color: #E5CFB2;
}
.Menu-swiper-card p{
    margin-bottom   : 30px;
    font-family: "Roboto", sans-serif;
    color: #E5CFBD;
    font-size: 15px;
    font-weight: normal;
    width: 500px;
    margin-bottom: 30px;
    letter-spacing:1px; 
    word-spacing: 4px;
}
.Menu-swiper-card span{
    color: #F7C27E;
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif; 
}
.Menu-card-line{
    margin: 20px 0;
    width: 200px;
    height: 5px;
    background-color: #E5CFB2;
    border-radius: 50px;
}
.Menu-swiper-card{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}
.swiper-button-prev{
    left: 5px !important;
    color: #F7C27E !important;
}
.swiper-button-next{
    right: 5px !important;
    color: #F7C27E !important;
}
.All-Menu{
    padding: 50px;
}
.All-Menu h1{
    text-align: center;
    color: #E5CFBD;
    font-size: 45px;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.1em;
    margin-bottom: 15px;
}
.All-menu-wrapper{
    display: flex;
    align-items: center;

justify-content: center;}
.All-Menu a{
    display: inline-block;
    color: #1A0A0A;
    text-decoration: none;
    background-color: #CA9554;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    font-family:"Roboto", sans-serif ;
    border: 2px solid #CA9554;
    margin: 0 auto;
}
.All-Menu a:hover {
    background-color: transparent;
    color: #CA9554;
}
.active {
    /* Стили для активной кнопки */
    background-color: #1A0A0A;
  }
.Menu-list-header button{
    background-color: transparent;
}
@media(max-width:750px){
    .Menu-list-header span{
        font-size: 20px;
    }
}
@media(max-width:645px){
    .Menu-list-header{
        gap: 20px;
    }
}
@media(max-width:550px){
    .Menu-list-header span{
        font-size: 15px;
    }
}
@media(max-width:460px){
    .Menu-list-header{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media(max-width:1215px){
    .Menu-swiper-card img{
        width: 450px;
        height: 450px;
    }
    .Menu-swiper-card h2{
        font-size: 30px;
    }
    .Menu-swiper-card p{
        font-size: 15px;
    }
}
@media(max-width:1100px){
    .Menu-swiper-card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .Menu-swiper-card-grid{
        text-align: center;
    }
    .Menu-card-line{
        width: 100%;
    }
}
@media(max-width:600px){
   .swiper-button-next{
    top: 290px !important;
   }
   .swiper-button-prev{
    top: 290px !important;
   }
    .Menu-swiper-card p{
        width: 100%;
    }
}
@media(max-width:500px){
   .Menu-swiper-card img{
    width: 400px;
    height: 400px;
   }
}
@media(max-width:450px){
   .Menu-swiper-card img{
    width: 350px;
    height: 350px;
   }
   .swiper-button-next{
    top: 240px !important;
   }
   .swiper-button-prev{
    top: 240px !important;
   }
}
@media(max-width:385px){
   .Menu-swiper-card img{
    width: 300px;
    height: 300px;
   }
   .swiper-button-next{
    top: 200px !important;
   }
   .swiper-button-prev{
    top: 200px !important;
   }
}
@media(max-width:335px){
   .Menu-swiper-card img{
    width: 250px;
    height: 250px;
   }
   .swiper-button-next{
    top: 200px !important;
   }
   .swiper-button-prev{
    top: 200px !important;
   }
}
@media(max-width:430px){
    .All-Menu h1{
        font-size: 35px;
    }
}