.MenuAdmin{
    background-color: #1A0A0A;
    display: flex;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    position: relative;
}
.MenuAdmin-content{
    width: 100%;
}
.MenuAdmin-header{
    width: 100%;
    padding: 30px 20px;
    background-color: #D9A359;
}
.MenuAdmin-header-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.MenuAdmin-header-btn{
    background-color: #1A0A0A;
    padding: 10px 20px;
    border: #1A0A0A 2px solid ;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    color: #D9A359;
    font-weight: bold;
}
.MenuAdmin-header-btn:hover{
    background-color: #D9A359;
    color: #1A0A0A;
    cursor: pointer;
}
.MenuAdmin-header h1{
    color: #1A0A0A;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}
.MenuAdmin-main{
    padding: 30px 15px;
    padding-top: 10px;
}
.delete{
    background-color: transparent;
    border: none;
}
.edit{
    background-color: transparent;
    border: none;
}
.MenuAdmin-table{
    width: 100%;
}
.MenuAdmin table{
    width: 100%;
    margin-top: 10px;
}
.MenuAdmin thead{
    width: 100%;
}
.MenuAdmin table thead tr{
    width: 100%;
}
.MenuAdmin table tbody{
    width: 100%;
}
.MenuAdmin table tbody tr{
    width: 100%;
}
.MenuAdmin table tbody tr img{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid #1A0A0A;
}
.MenuAdmin table thead tr td {
    /* display: none; */
    text-align: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.MenuAdmin table thead tr td h3{
    /* display: none; */
    color: #1A0A0A;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
}
.MenuAdmin tbody h3{
    color: #1A0A0A;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.MenuAdmin tbody p{
    text-align: center;
    width: 500px;
    color: #1A0A0A;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}
.MenuAdmin table tbody td {
    text-align: center;
    padding-top: 20px;
}
.delete{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.edit {
    font-size: 30px;
    cursor: pointer;
}
.delate:hover {
    color: red;
}
.MenuAdmin img{
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.edit:hover {
    color: rgb(95, 95, 95);
}
.MenuAdmin table  {
    background-color: #D9A359;
    border-radius: 30px;
    padding-bottom: 30px;
}
.MenuAdmin-footer{
    width: 100%;
    padding: 28px 15px;
    background-color: #D9A359;
}
.MenuAdmin-footer-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MenuAdmin-footer button{
    background-color: #1A0A0A;
    color: #D9A359;
    font-size: 25px;
    border: 2px solid #1A0A0A;
    border-radius: 24px;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.MenuAdmin-footer button:hover{
    background-color: #D9A359;
    color: #1A0A0A;
}
.MenuAdmin-footer span{
    color: #1A0A0A;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.header-burger button {
    background-color: #1A0A0A;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.header-burger button svg {
    color: #D9A359;
    font-size: 30px;
}
.header-burger{
    padding: 10px;
    padding-bottom: 0;
    padding-left: 20px;
    width: 100%;
    background-color: #D9A359;
}
.header-burger{
    display: none;
}
.MenuAdmin-nav button{
    font-size: 25px;
    color: #E5CFB2;
    font-family: "Source Sans 3", sans-serif; 
    border: 1px solid #E5CFB2;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.MenuAdmin-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
}
.MenuAdmin-nav .active {
    background-color: #D0B08B;
    color: #1A0A0A;
}
.create-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.527);
    display: none;
    z-index: 121;
}

.create-modal {
    padding: 50px;
    width: 50%;
    background-color: #D9A359;
    position: fixed;
    top: 10%;
    left: 28%;
    border-radius: 30px;
    z-index: 10;
    /* margin-left: 400px; */

}

#openModal {
    display: block;
}

#openChange {
    display: block;
}

.modal-change {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.692);
    display: none;
    z-index: 121;
}

.change-modal {
    padding: 50px;
    width: 50%;
    background-color: #D9A359;
    position: absolute;
    top: 10%;
    left: 28%;
    border-radius: 30px;
    z-index: 10;
}

.create-modal-header,
.change-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px
}

.create-modal-header h1,
.change-header h1 {
    color: #1A0A0A;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.create-modal-header button,
.change-header button, .Category-modal-header button {
    background-color: #1A0A0A;
    color: white;
    padding: 10px 15px;
    border: 2px solid #1A0A0A;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.create-modal-header button:hover {
    background-color: transparent;
    color: #1A0A0A
}
.Category-modal-header button:hover {
    background-color: transparent;
    color: #1A0A0A
}


.create-modal-main h3 {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.change-modal h3 {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.change-header button:hover {
    background-color: transparent;
    color: #1A0A0A
}

.form-grid label input {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
    background-color: #0000003B;
    outline: none;
    color: white;
}

.form-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.inp-number {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form-grid label {
    width: 100%
}

.modal-foto {
    width: 100%;
}

.file-input-container {
    width: 100%;
}

.submitBtn {
    padding: 10px 15px;
    border: 2px solid #1A0A0A;
    background-color: #1A0A0A;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.submitBtn:hover {
    background-color: transparent;
    color: #1A0A0A
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: end;
}

.modal-footer {
    position: relative;
}

.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    border: 1px solid #1A0A0A;
    border-radius: 5px;
    background-color: #1A0A0A;
    cursor: pointer;
    color: white;
    width: 300px;
}

.file-input-container input[type=file] {
    cursor: pointer;
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.file-input-container span {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.file-input-container:hover {
    background-color: transparent;
    color: #1A0A0A;
    cursor: pointer;
}

.menu-info {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid rgb(48, 48, 48);
    background-color: #0000003B;
    outline: none;
    color: white;
}
.Category-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.692);
    display: none;
    z-index: 121;
}
.Category-modal{
    padding: 50px;
    width: 50%;
    background-color: #D9A359;
    position: absolute;
    top: 10%;
    left: 28%;
    border-radius: 30px;
    z-index: 10;
}
.Category-modal-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px
}
.Category-modal-header h1{
    font-family: "Roboto", sans-serif;
}
.Category-modal h3{
    font-family: "Roboto", sans-serif;
}
.oppen-Category-Modal{
   display: block; 
}
.modal-footer select {
    background-color: #1A0A0A;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}
.modal-footer select option{
    padding: 5px !important;
    cursor: pointer;
    border-radius: 30px;
}
.MenuAdmin-nav button{
    background-color: none;
    border: none;
}
select{
    color: white !important;
}
.modal-footer{
    gap: 20px;
}
@media(max-width:1400px){
    .MenuAdmin-table {
        overflow: auto;
        overflow-x: scroll;
        width: 100%;
        
    }

    .MenuAdmin-table table {
        width: 1400px;
        overflow: auto;
        overflow-x: scroll;
        /* display: none; */
        padding: 20px;
    }
    .header-burger{
        display: block;
    }
    .MenuAdmin-header{
        padding-top: 5px;
    }
}
@media(max-width:750px){
    .MenuAdmin-nav{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }
}
@media(max-width:1000px){
   /* .form-grid{
    flex-direction: column;
    gap: 20px;
   } */
   .create-modal{
    width: 70%;
    left: 15%;
   }
}
@media(max-width:700px){
   .form-grid{
    flex-direction: column;
    gap: 20px;
   }

}
@media(max-width:540px){
    .create-modal{
        width: 90%;
        left: 5%;

    }

}
@media(max-width:400px){
    .create-modal h1{
        font-size: 25px;
    }
}